@keyframes changeDirectoin{
    10%{
        margin-left:0;
        margin-right:90%;
    }

    20%{
        margin-left: 90%;
        margin-right:0 ;
    }

    30%{
        margin-left: 90%;
        margin-right:0;
        margin-top: 0;  
    }

    40%{
        margin-top:80vh;
        margin-bottom:0vh;
        margin-right:0;
        margin-left: 90%;
    }

    50%{
        margin-top:80vh;
        margin-bottom:0vh;
        margin-right:90%;
        margin-left:0;
       
    }
    
    60%{
       margin-top:30vh;
       margin-left:50%;
    }
    70%{
        margin-top:0;
        margin-left:0;
        margin-right:90%;
    }


}


img{
    animation: changeDirectoin 4s ease-in;
    animation-delay: 0ms;
  
}